@use "../../../styles/globals.scss" as g;

.ep-poll-questions-list-item {
  border-radius: g.$common-border-radius;
  border: 2px solid transparent;
  font-size: 1.0rem;
  margin-bottom: .5rem;
  padding: 1rem;
  transition: 
    background-color g.$common-transition-time, 
    border-color g.$common-transition-time;

  &.active {
    background-color: g.$background-gray;
    border-color: g.$shallow-space-sparkle;
  }

  &:hover {
    background-color: g.$background-gray;
    cursor: pointer;
  }
}
