@use "./globals.scss" as g;

// mixins
@mixin responsive-widths {
  //375px
  width: 100%;

  //768px
  @media (min-width: 768px) {
    // margin: 0 auto;
    width: 768px;
  }
  //1280px
  @media (min-width: 1280px) {
    width: 1024px;
  }
  //1920px
  @media (min-width: 1920px) {
    width: 1440px;
  }
}

* {
  box-sizing: border-box;
}

// styling
body {
  align-items: center;
  background-color: g.$background-gray;
  display: flex;
  font-family: "DM Sans", "Helvetica Neue", "Inter", sans-serif;
  justify-content: center;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// main div wrapping entire app
.App {
  // text-align: center;
  @include responsive-widths();
  margin-top: 1rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0rem;
}