@use "./globals.scss" as g;

* {
  box-sizing: border-box;
}

// styling
body {
  // align-items: center;
  background-color: g.$background-gray;
  font-family: "DM Sans", "Helvetica Neue", "Inter", sans-serif;
  // justify-content: center;
  margin: 0;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// main div wrapping app content
.App {
  // background-color: aqua;
  // margin-top: 1rem;
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin-top: 0rem;
}

a {
  color: g.$shallow-space-sparkle;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
  margin: 0 0 1rem;
  
  li::before {
    color: g.$shallow-space-sparkle;
    content: "\2022";
    display: inline-block;
    font-weight: bold;
    margin-left: 1rem;
    width: 1rem;
  }
}

.app-wrapper {
  // @include g.responsive-widths();
  // corresponds to height of EpCopyright
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.content-wrapper {
  @include g.responsive-widths();
  flex-direction: column;
}