@use "sass:map";

// common sizes
$common-border-radius: 8px;
$common-container-padding: .5rem 1rem;
$common-margin: 1rem;


// colors
$bright-yellow: #F4B942;
$deep-space-sparkle: #476A6F;
$shallow-space-sparkle: #519e8a;
$emerald-green: #45CB85;
$pastel-blue: #6A7FDB;
$polished-pine: #519E8A;
$red-crayola: #EC0B43;
$soft-orange: #FF785A;

