.admin-input-wrapper {
  margin-bottom: 1rem;
  width: 66%;
}

.question-data-container {
  border-radius: 8px;
  border: 1px solid #45CB85;
  background-color: #45CB8533;
  margin-top: 1rem;
  padding: 1rem;
}